*.pyc
*.pyo
__pycache__/
*.log
*.sqlite3

venv/
env/
*.env
.env

.vscode/
.idea/
*.iml

*.egg-info/
*.egg
dist/
build/

db.sqlite3
*.db

migrations/
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo

node_modules/
package-lock.json

docker-compose.override.yml
__docker/
