.App-header {
  background-color: #282c34;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  padding: 10px 20px;
}

.app-title {
  font-size: 1.5em;
  color: #61dafb;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.nav-button {
  background-color: #61dafb;
  color: #282c34;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #21a1f1;
}
